# Бинарные файлы (результаты сборки)
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/

# Медиафайлы (фильмы, картинки) не храним в репе!
/media/*
!/media/.gitkeep

# IDE и настройки
.vscode/
.idea/
*.swp

# Переменные окружения (на будущее, когда будем прятать пароль от БД)
.env